#edit-filters.modal.hide.fade
  .modal-header
    %h3 Filter Data
  = form_for("filters", filter_item, :url => project_collection_path(project, collection),  
            :html => {:class => 'modal-form',:method=>:get}) do |f|  
    - collection.schema.each do |field|
      -if field.controlled_vocabulary
        .group= f.select(field.to_s, field_value_options(field.controlled_vocabulary), :label => field.name, :include_blank => true)
      -elsif field.associated_schema
        .group= f.select(field.to_s, associated_field_value_options(field.associated_schema), :label => field.name, :include_blank => true)
      -else
        .group= f.text_field(field.to_s, :label => field.name, :value=> filters[field.to_s]) 
    And
    =radio_button_tag("options", "AND")
    OR
    =radio_button_tag("options", "OR")
    -unless params["options"].nil?
      :javascript
        $('#options_#{params[:options]}').attr("checked", true)
    -else
      :javascript
        $('#options_AND').attr("checked", true)
    .modal-footer
      %button.btn.btn-primary Filter
      %a.btn.btn-mini(data-dismiss="modal") Close         
