%ul.list.collection-list
  - collections.each do |c|
    %li
      .counts
        .data_items_count Data Items: #{c.items.count}
      .left.big-img= image_tag("web-app-theme/icons/table.png")
      %dl.item
        %dt
          %h4 
            -if c.category == "Controlled Vocabulary"
              %a{:href => project_collection_cv_path(c.project_id,c)}= c.name
            -else
              %a{:href => project_collection_path(c.project_id,c)}= c.name
        %dd
          Schema: #{c.schema.map(&:name)}
          %br
          #{c.description.blank? ? "No Description." : c.description}
          %dd
            =link_to("delete", project_collection_path(c.project_id,c), :method=>:delete, "data-confirm"=>"Are you sure you wish to delete this Collection?")