
-# Collection#new form
#new_collection_form.modal.hide.fade
  .modal-header
    %button.close(data-dismiss="modal") x
    %h3 Add New Collection
  = form_for(@project.data_collections.new, :url => project_collections_path(@project), 
            :html => {:class => 'modal-form'}) do |f|
    .modal-body
      = render :partial => 'collections/form', :locals => {:f => f}
    .modal-footer
      %button.btn.btn-primary Save Changes
      %a.btn.btn-mini(data-dismiss="modal") Close

-# Collection#edit form
#collection_edit_form.modal.hide.fade
  .modal-header
    %button.close(data-dismiss="modal") x
    %h3 Collection Settings
  = form_for(@collection, :url => project_collection_path(@project, @collection), 
            :html => {:class => 'modal-form', :method=> :put}) do |f|

    .modal-body
      = render :partial => 'form', :locals => {:f => f}
      %h4 Columns
      %table.table
        - @collection.schema.each do |s|
          %tr
            %td
              %a{:href => edit_project_collection_schema_path(@project,@collection,s)}
                %i.icon-edit
                = s.name
            %td
              = s.type.to_s.split('::').last
              -if s.associated_schema
                | Associated With #{s.associated_schema.data_collection.name}>#{s.associated_schema.name}
            %td= link_to("delete", project_path(p), 
                    :class => 'btn btn-warning btn-mini',:method=>:delete, 
                    "data-confirm"=>"Are you sure you wish to delete this Column?")
    .modal-footer
      %button.btn.btn-primary Save Changes
      %a.btn.btn-mini(data-dismiss="modal") Close


#collection_schema_form.modal.hide.fade
  .modal-header
    %button.close(data-dismiss="modal") x
    %h3 Add New Column
  = form_for('schema', :url => project_collection_schemas_path(@project, @collection), 
            :html => {:class => 'modal-form'}) do |f|
    .modal-body
      = render :partial => 'schemas/form', :locals => {:f => f}
    .modal-footer
      %button.btn.btn-primary Save Column
      %a.btn.btn-mini(data-dismiss="modal") Close

-# Collection#upload_data form
#upload_form.modal.hide.fade
  .modal-header
    %button.close(data-dismiss="modal") x
    %h3 Upload Data
  = render :partial => 'projects/upload_form'

