%h1 #{@project.name} > Controlled Vocabulary:#{@collection.name}

.block
  .secondary-navigation.button-navigation
    .wat-cf
      = nav_button("Back to Project", "web-app-theme/icons/arrow_undo.png", project_path(@project))
      -unless current_user.memberships.all(:project_id=>@project.id).empty?
        = nav_button("Edit Controled Vocabulary Collection", "web-app-theme/icons/application_edit.png", project_collection_edit_cv_path(@project,@collection))
        -if @project.private #if the project is not published show these
          -if @collection.private
            = nav_button("Publish Controlled Vocabulary",  "web-app-theme/icons/world_add.png", project_collection_publish_path(@project,@collection), "post")
          -else
            = nav_button("Unpublish Controlled Vocabulary",  "web-app-theme/icons/world_delete.png", project_collection_publish_path(@project,@collection), "post")
  -unless current_user.memberships.all(:project_id=>@project.id).empty?
    .content
      .inner
        %h3 
          Add New Schema
          %a{:id=>"schema_add", :href=>"javascript:toggle('add_schema','schema_add');"}
            %img{:src=>'/images/web-app-theme/icons/add.png', :height=>'16px'}
        %div{:id=>"add_schema", :style=>'display:none;'}
          = form_for("schema", :url => project_collection_schemas_path(@project, @collection), :html => {:class => 'form'}) do |f|
            = render :partial => 'schemas/form', :locals => {:f => f, :collection=>@collection}
            .group.navform.wat-cf
              = f.submit("Save", :submit_image => image_tag("web-app-theme/icons/tick.png", :alt => "Save"))
.block
  .content
    .inner
      %h3 
        Current Schema
        %a{:id=>"displayText", :href=>"javascript:toggle('current_schema','displayText');"}
          %img{:src=>'/images/web-app-theme/icons/add.png', :height=>'16px'}
      %div{:id=>"current_schema", :style=>'display:none;'}
        %ul.list.schema-list
          - @collection.schema.each do |s|
            %li 
              .item 
                -unless current_user.memberships.all(:project_id=>@project.id).empty?
                  =link_to(image_tag("web-app-theme/icons/table_edit.png", :border=>"0", :height=>"16px"), edit_project_collection_schema_path(@project,@collection,s)) 
                #{s.name} (#{s.type.to_s.split('::').last})
                =link_to("delete", project_collection_schema_path(@project,@collection,s), :method=>:delete, "data-confirm"=>"Are you sure you wish to delete this Schema Column?")
-unless current_user.memberships.all(:project_id=>@project.id).empty?
  .block
    .content
      .inner  
        %h3 
          Add Controlled Vocabulary Item    
          %a{:id=>"cv", :href=>"javascript:toggle('add_item','cv');"}
            %img{:src=>'/images/web-app-theme/icons/add.png', :height=>'16px'}
        %div{:id=>"add_item", :style=>'display:none;'}    
          =form_for("item", :url => project_collection_items_path, :html => {"multipart" => true, "data-ajax"=> false, :class => 'form'}) do |f| 
            = render :partial => 'items/form', :locals => {:f => f, :collection => @collection}
            .group.navform.wat-cf
              = f.submit("Save", :submit_image => image_tag("web-app-theme/icons/tick.png", :alt => "Save"), :cancel_link => link_to("Cancel", projects_path, :class => "text_button_padding link_button"))
.block
  .secondary-navigation.button-navigation
    .wat-cf
      -if @collection.schema.count > 0
        = nav_button("Download All Items", "web-app-theme/icons/arrow_undo.png", project_collection_export_path(@project,@collection))
        = nav_button("Download All Items With Files", "web-app-theme/icons/package_go.png", project_collection_export_with_files_path(@project,@collection))
        -unless current_user.memberships.all(:project_id=>@project.id).empty?
          = nav_button("Upload Data", "web-app-theme/icons/application_get.png", project_upload_path(@project, :collection_id=>@collection.id))
  .content
    .inner
      %h3 Data
      -unless current_user.memberships.all(:project_id=>@project.id).empty?
        = render :partial => 'items/table', :locals => {:items => @collection.items(:order => :created_at.desc), :collection => @collection, :project=>@project}
      -else
        = render :partial => 'items/public_table', :locals => {:items => @collection.items(:order => :created_at.desc), :collection => @collection, :project=>@project}
      

:javascript
  function toggle(div_id, image_id) {
  	var ele = document.getElementById(div_id);
  	var text = document.getElementById(image_id);
  	if(ele.style.display == "block") {
      		ele.style.display = "none";
  		text.innerHTML = "<img src='/images/web-app-theme/icons/add.png' height='16px'></img>";
    	}
  	else {
  		ele.style.display = "block";
  		text.innerHTML = "<img src='/images/web-app-theme/icons/delete.png' height='16px'></img>";
  	}
  } 
  
-content_for :sidebar do
  .sidebar-block
    %h2 Filter Data:
    = form_for("filter", :url => project_collection_filter_path(@project,@collection),  :html => {:class => 'form',:method=>:get}) do |f|  
      = render :partial => 'filter', :locals => {:f => f, :collection => @collection, :filters => nil}
      .group.navform.wat-cf
        = f.submit("Filter", :submit_image => image_tag("web-app-theme/icons/tick.png", :alt => "Filter"))