%h1 #{@project.name} > New Collection

.block
  .secondary-navigation.button-navigation
    .wat-cf
      = nav_button("Back to Project", "web-app-theme/icons/edit-undo.png", project_path(@project))
  .content
    .inner
      = form_for("collection", :url => project_collections_path(@project), :html => {:class => 'form'}) do |f|
        = render :partial => 'form', :locals => {:f => f}
        .group.navform.wat-cf
          = f.submit("Save", :submit_image => image_tag("web-app-theme/icons/tick.png", :alt => "Save"), :cancel_link => link_to("Cancel", :back, :class => "text_button_padding link_button"))
