%h1 #{@project.name} > #{@collection.name}

.block
  .secondary-navigation.button-navigation
    .wat-cf
      = nav_button("Back to Project", "web-app-theme/icons/edit-undo.png", project_path(@project))
      = nav_button("Edit Schema", "web-app-theme/icons/application_edit.png", project_collection_schemas_path(@project, @collection))
      = nav_button("Edit Collection", "web-app-theme/icons/application_edit.png", edit_project_collection_path(@project,@collection))
  .content
    .inner
      %h3 Schema
      %ul.list.schema-list
        - @collection.schema.each do |s|
          %li 
            .item #{s.name} (#{s.type.to_s.split('::').last})
.block
  .secondary-navigation.button-navigation
    .wat-cf
      = nav_button("All Items", "web-app-theme/icons/x-office-spreadsheet.png", project_collection_items_path(@project, @collection))
      = nav_button("Add Item", "web-app-theme/icons/list-add.png", new_project_collection_item_path(@project, @collection))
  .content
    .inner
      %h3 Data (top 5)
      = render :partial => 'items/table', :locals => {:items => @collection.items(:order => :created_at.desc, :limit => 5), :collection => @collection}

