%h1 #{@project.name} > #{@collection.name}

%a{:href => edit_project_collection_path(@project,@collection)} Edit Collection

%h3 Schema: 
%a{:href => project_collection_schemas_path(@project,@collection)} Edit Schema
%ul
  - @collection.schema.each do |s|
    %li #{s.name} (#{s.type.to_s.split('::').last})

%a{:href => project_collection_items_path(@project, @collection)} All Items
%a{:href => new_project_collection_item_path(@project, @collection)} Add Item
%h3 Items (top 5): 
%table
  %tr
    - @collection.schema.each do |s|
      %th= s.name
    %th File
  - @collection.items(:limit => 5).each do |i|
    %tr
      - @collection.schema.each do |s|
        %td= i[s.name]
      %td
        -unless i.file
          %a{:href => i.file.to_s}= i.original_filename
 
%a{:href => project_collections_path(@project)} All Collections