.row
  .span3
  .span6
    = devise_error_messages!
  .span3
.row
  .container
    = form_for(resource, :as => resource_name, 
      :url => registration_path(resource_name), 
      :html=> {:class=>'form-box'}) do |f|
      %h2.form-signin-heading Sign up

      = f.text_field :first_name, :placeholder => "First Name"
      = f.text_field :last_name , :placeholder => "Last Name"

      = f.email_field     :email,                 :placeholder => 'Email Address' 
      = f.password_field  :password,              :placeholder => 'Password' 
      = f.password_field  :password_confirmation, :placeholder => 'Password Confirmation'

      %button.btn.btn-large.btn-primary{:type => 'submit'} Sign up
      .devise-links
        = render :partial => "devise/shared/links"
