%h1 Projects

.block
  .secondary-navigation.button-navigation
    .wat-cf
      = nav_button("Create a Project", "web-app-theme/icons/list-add.png", new_project_path)

  .content
    .inner
      %h3 My Projects
      %ul.list.project-list
        - @my_projects.each do |p|
          %li
            .counts
              .collection_count Data Collections: #{p.data_collections.count}
              .data_items_count Data Items: #{p.data_collections.map{|c| c.items.count }.reduce(:+)}
            .left= image_tag("Yogo-tiny-trans.png")
            %dl
              %dt
                %h4.item 
                  %a{:href => project_path(p)}= p.name
              %dd
                #{p.description.blank? ? "No Description." : p.description}
              %dd
                =link_to("delete", project_path(p), :method=>:delete, "data-confirm"=>"Are you sure you wish to delete this Project?")

-unless @other_projects.empty?
  .block
    .content
      .inner
        %h3 Other Public Projects
        %ul.list.project-list
          - @other_projects.each do |p|
            %li
              .counts
                .collection_count Data Collections: #{p.data_collections.count}
                .data_items_count Data Items: #{p.data_collections.map{|c| c.items.count }.reduce(:+)}
              .left= image_tag("Yogo-tiny-trans.png")
              %dl
                %dt
                  %h4.item 
                    %a{:href => project_path(p)}= p.name
                %dd
                  #{p.description.blank? ? "No Description." : p.description}
                

.block
  .content
    .inner
      %h3 Public Collections
      %ul.list.collection-list
        - @public_collections.each do |c|
          %li
            .counts
              .data_items_count Data Items: #{c.items.count}
            .left= image_tag("Yogo-tiny-trans.png")
            %dl
              %dt
                %h4.item 
                  %a{:href => project_collection_path(c.project,c)}= c.name
              %dd
                Schema: #{c.schema.map(&:name)}
                %br
                #{c.description.blank? ? "No Description." : c.description}
                