.row
  .tabbable
    %ul.nav.nav-tabs
      %li.active= link_to("My Projects (#{@projects.count})", "#myproj-tab", 'data-toggle' => 'tab')
      %li= link_to("Public Projects (#{@public_projects.count})", "#pubproj-tab", 'data-toggle' => 'tab')
    .tab-content
      #myproj-tab.tab-pane.active
        = render(:partial => 'projects/list', :locals => {:projects => @projects})
      #pubproj-tab.tab-pane
        = render(:partial => 'projects/list', :locals => {:projects => @public_projects})




