%h1 Create Project

%div{:class=>"form"}
  = form_for(@project, :url => projects_path) do |f|
    %p
      = f.label(:name)
      = f.text_field(:name)
    
    %p
      = f.label(:description)
      = f.text_area(:description)

    = f.submit

  %a{:href => projects_path} Back

