.row
  %h1
    - if @project.public?
      %span.label.label-info Public
    - else
      %span.label.label-default Private
    = @project.name

  .tabbable
    %ul.nav.nav-tabs
      %li.active= link_to("Data Collections (#{@collections.count})", "#dc-tab", 'data-toggle' => 'tab')
      %li= link_to("Controlled Vocabularies (#{@cv_collections.count})", "#cv-tab", 'data-toggle' => 'tab')
    .tab-content
      #dc-tab.tab-pane.active
        = render(:partial => "collections/list", :locals=>{:collections => @collections})
      -unless @cv_collections.empty?
        #cv-tab.tab-pane
          = render(:partial => "collections/list", :locals=>{:collections => @cv_collections})
