.row
  %h1
    - if @project.public?
      %span.label.label-info Public
    - else
      %span.label.label-default Private
    = @project.name

  .tabbable
    %ul.nav.nav-tabs
      %li.active= link_to("Data Collections (#{@collections.count})", "#dc-tab", 'data-toggle' => 'tab')
      %li= link_to("Controlled Vocabularies (#{@cv_collections.count})", "#cv-tab", 'data-toggle' => 'tab')
    .tab-content
      #dc-tab.tab-pane.active
        - if @collections.count > 0
          = render(:partial => "collections/list", :locals=>{:collections => @collections})
        - else 
          .span5
          %a.span2.btn.btn-primary(href='#new_collection_form' data-toggle='modal') 
            No Data Collections...
            %br/
            Create a Collection!
          .span5
      #cv-tab.tab-pane
        -unless @cv_collections.empty?
          = render(:partial => "collections/list", :locals=>{:collections => @cv_collections})
