%h1 Project: #{@project.name}

.block
  .secondary-navigation.button-navigation
    .wat-cf
      = nav_button("Back to Projects", "web-app-theme/icons/edit-undo.png", projects_path)
      -unless current_user.memberships.all(:project_id=>@project.id).empty?
        = nav_button("Edit Project", "web-app-theme/icons/application_edit.png", edit_project_path(@project))
        = nav_button("Upload Data", "web-app-theme/icons/list-add.png", project_upload_path(@project))
        = nav_button("Add User to Project", "web-app-theme/icons/list-add.png", project_add_user_path(@project))
        -if @project.private
          = nav_button("Publish Project",  "web-app-theme/icons/plus.png", project_publish_path(@project), "post")
        -else
          = nav_button("Unpublish Project",  "web-app-theme/icons/minus.png", project_publish_path(@project), "post")
  -unless current_user.memberships.all(:project_id=>@project.id).empty?    
    .content
      .inner
        %h3 Add New Collection
        = form_for("collection", :url => project_collections_path(@project), :html => {:class => 'form'}) do |f|
          = render :partial => 'collections/form', :locals => {:f => f}
          .group.navform.wat-cf
            = f.submit("Save", :submit_image => image_tag("web-app-theme/icons/tick.png", :alt => "Save"))
              
.block
  .content
    .inner
      %h3 Current Collections
      %ul.list.collection-list
        - @project.data_collections.each do |c|
          %li
            .counts
              .data_items_count Data Items: #{c.items.count}
            .left= image_tag("Yogo-tiny-trans.png")
            %dl
              %dt
                %h4.item 
                  %a{:href => project_collection_path(@project,c)}= c.name
              %dd
                Schema: #{c.schema.map(&:name)}
                %br
                #{c.description.blank? ? "No Description." : c.description}
                %dd
                  =link_to("delete", project_collection_path(@project,c), :method=>:delete, "data-confirm"=>"Are you sure you wish to delete this Collection?")
