%h1 Project: #{@project.name}

.block
  .secondary-navigation.button-navigation
    .wat-cf
      = nav_button("Back to Projects", "web-app-theme/icons/arrow_undo.png", projects_path)
      -unless current_user.memberships.all(:project_id=>@project.id).empty?
        = nav_button("Edit Project", "web-app-theme/icons/database_edit.png", edit_project_path(@project))
        = nav_button("Upload Data", "web-app-theme/icons/application_get.png", project_upload_path(@project))
        = nav_button("Add User to Project", "web-app-theme/icons/user_add.png", project_add_user_path(@project))
        -if @project.private
          = nav_button("Publish Project",  "web-app-theme/icons/world_add.png", project_publish_path(@project), "post")
        -else
          = nav_button("Unpublish Project",  "web-app-theme/icons/world_delete.png", project_publish_path(@project), "post")
  -unless current_user.memberships.all(:project_id=>@project.id).empty?    
    .content
      .inner
        %h3 Add New Collection
        = form_for("collection", :url => project_collections_path(@project), :html => {:class => 'form'}) do |f|
          = render :partial => 'collections/form', :locals => {:f => f}
          .group.navform.wat-cf
            = f.submit("Save", :submit_image => image_tag("web-app-theme/icons/tick.png", :alt => "Save"))
              
.block
  .content
    .inner
      -unless @collections.empty?
        %h3 Current Collections
        = render(:partial => "collections/list", :locals=>{:collections => @collections})
      -unless @cv_collections.empty?
        %h3 Controlled Vocabularies
        = render(:partial => "collections/list", :locals=>{:collections => @cv_collections})
      -unless @scv_collections.empty?
        %h3 Schema Controlled Vocabularies
        = render(:partial => "collections/list", :locals=>{:collections => @scv_collections })
      