-# TODO:
-# Dear god fix the awful javascript on this page. Sooo much technical debt... -pol
-#

:javascript
  $(document).ready(function() {
    $('.data-table').dataTable();
  } );
-@schema_cv_hash={}
-collection.schema.each do |s|
  -link_hash={}
  -if s.controlled_vocabulary_id
  -@schema_cv_hash[s.id] =Yogo::Collection::Property.get(s.controlled_vocabulary_id).data_collection
    -s.data_collection.items.each do |i|
      -link_hash = link_hash.merge({i[s.name] => @schema_cv_hash[s.id].items.first("field_#{s.controlled_vocabulary_id.to_s.gsub('-','_')}".to_sym=>i[s.name])})
    -@schema_cv_hash[s.name]=link_hash

%table.data-table.table.table-condensed.table-striped
  %thead
    %tr
      %th.action-column
        %a.btn.btn-mini(href='#collection_schema_form' data-toggle='modal' title='Add Column') 
          %i.icon-plus
        %a.btn.btn-mini(href='#edit-filters' data-toggle='modal' title='Filter Data Grid') 
          %i.icon-filter
      - collection.schema.each do |s|
        %th.column
          %a.icon-edit(href='' data-toggle='modal' class='#{s.id.to_s}')
          = s.name
          :javascript
            var $modal = $('#ajax-modal');
            // CV Show
            $('th a.#{s.id.to_s}').on('click', function(){
              $('body').modalmanager('loading');
              setTimeout(function(){
                $modal.load('#{edit_project_collection_schema_path(project,collection,s)}', '', function(){
                  $modal.modal();
                });
              }, 1000);
            });
      %th File
  %tbody
    - items.each do |i|
      %tr(class='#{i.id.to_s}')
        %td
          %a.icon-time.item-show(href='#' data-toggle='modal')
          %a.icon-edit.item-edit(href='#' data-toggle='modal')
          = link_to("", project_collection_item_path(project,collection,i), :class => 'icon-remove-circle',:method=>:delete, 
                    "data-confirm"=>"Are you sure you wish to delete this Data Row?")
          :javascript
            var $modal = $('#ajax-modal');
            var $fwmodal = $('#ajax-modal-fw');
            // Item Show
            $('.#{i.id.to_s} a.item-show').on('click', function(){
              $('body').modalmanager('loading');
              setTimeout(function(){
                $fwmodal.load('#{project_collection_item_path(project,collection,i)}', '', function(){
                  $fwmodal.modal();
                });
              }, 1000);
            });

            // Item Edit
            $('.#{i.id.to_s} a.item-edit').on('click', function(){
              $('body').modalmanager('loading');
              setTimeout(function(){
                $modal.load('#{edit_project_collection_item_path(project,collection,i)}', '', function(){
                  $modal.modal();
                });
              }, 1000);
            });

        - collection.schema.each do |s|
          -if s.controlled_vocabulary_id  
            -if @schema_cv_hash[s.name][i[s.name]]
              %td
                %a.item-cv(href='#' data-toggle='modal' class='#{s.id.to_s}')= i[s.name]
                :javascript
                  var $modal = $('#ajax-modal-fw');
                  // CV Show
                  $('.#{i.id.to_s} a.cv.#{s.id.to_s}').on('click', function(){
                    $('body').modalmanager('loading');
                    setTimeout(function(){
                      $modal.load('#{project_collection_item_path(@schema_cv_hash[s.id].project_id,@schema_cv_hash[s.id],@schema_cv_hash[s.name][i[s.name]])}', '', function(){
                        $modal.modal();
                      });
                    }, 1000);
                  });
            -else
              %td.danger= i[s.name]
          -elsif s.associated_schema     
            %td
              -json_string = JSON.parse(i[s.name])
              %a.icon-edit.as-edit(href='' data-toggle='modal' class='#{s.id.to_s}')
              %a.as-show(href='' data-toggle='modal' class='#{s.id.to_s}')= json_string['item']['display']
              :javascript
                var $modal = $('#ajax-modal');
                var $fwmodal = $('#ajax-modal-fw');
                // Item Show
                $('.#{i.id.to_s} a.as-show.#{s.id.to_s}').on('click', function(){
                  $('body').modalmanager('loading');
                  setTimeout(function(){
                    $fwmodal.load('#{project_collection_item_path(json_string['project']['id'],json_string['collection']['id'],json_string['item']['id'])}', '', function(){
                      $fwmodal.modal();
                    });
                  }, 1000);
                });
                // Item Edit
                $('.#{i.id.to_s} a.as-edit.#{s.id.to_s}').on('click', function(){
                  $('body').modalmanager('loading');
                  setTimeout(function(){
                    $modal.load('#{edit_project_collection_item_path(json_string['project']['id'],json_string['collection']['id'],json_string['item']['id'])}', '', function(){
                      $modal.modal();
                    });
                  }, 1000);
                });
          -else
            %td
              - if i[s.name].to_s.length > 42
                = i[s.name][0..42]
                %a.btn-info.btn-mini(href='#' data-placement='right' data-content="#{i[s.name].gsub('"', '\"')}" rel='popover' data-original-title='#{s.name}')
                  = '...'
              - else
                = i[s.name]
        %td
          %a{:href => i.file.to_s}= i.original_filename


