:javascript
  $(document).ready(function() {
  var item_table = $('#collection_items_table').dataTable({
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": true
        });
  } );
-@schema_cv_hash={}
-collection.schema.each do |s|
  -link_hash={}
  -if s.controlled_vocabulary_id
  -@schema_cv_hash[s.id] =Yogo::Collection::Property.get(s.controlled_vocabulary_id).data_collection
    -s.data_collection.items.each do |i|
      -link_hash = link_hash.merge({i[s.name] => @schema_cv_hash[s.id].items.first("field_#{s.controlled_vocabulary_id.to_s.gsub('-','_')}".to_sym=>i[s.name])})
    -@schema_cv_hash[s.name]=link_hash
    
-# Item Modal
#history-modal.modal.hide.fade.wide
  .modal-header
    %button.close(data-dismiss="modal") x
    %h3 Data History
    .modal-body
    .modal-footer

-# CV Modal
#cv-modal.modal.hide.fade
  .modal-header
    %button.close(data-dismiss="modal") x
    %h3 CV Term Metadata
    .modal-body
    .modal-footer

-# Assoc Modal
#assoc-modal.modal.hide.fade
  .modal-header
    %button.close(data-dismiss="modal") x
    %h3 Associated Data
    .modal-body
    .modal-footer

-# Assoc Modal
#edit-assoc-modal.modal.hide.fade
  .modal-header
    %button.close(data-dismiss="modal") x
    %h3 Edit Associated Data
    .modal-body
    .modal-footer

%table.table.table-condensed.table-striped#collection_items_table
  %thead
    %tr
      %th &nbsp;
      - collection.schema.each do |s|
        %th= s.name
      %th File
      
  %tbody
    - items.each do |i|
      %tr
        %td
          %a.icon-time(href='#{project_collection_item_path(params[:project_id],collection,i)}' data-toggle='modal' data-target='#history-modal')
          %a.icon-edit(href='#{edit_project_collection_item_path(params[:project_id],collection,i)}')
          = link_to("", project_path(p), :class => 'icon-remove-circle',:method=>:delete, 
                    "data-confirm"=>"Are you sure you wish to delete this Data Row?")
        - collection.schema.each do |s|
          -if s.controlled_vocabulary_id  
            -if @schema_cv_hash[s.name][i[s.name]]
              %td
                %a(href='#{project_collection_item_controlled_vocabulary_term_path(@schema_cv_hash[s.id].project_id,@schema_cv_hash[s.id],@schema_cv_hash[s.name][i[s.name]])}' data-toggle='modal' data-target='#cv-modal')= i[s.name]
            -else
              %td{:class =>'cv_error'}= i[s.name]
          -elsif s.associated_schema     
            %td
              -unless i[s.name].nil?
                -json_string = JSON.parse(i[s.name])
                %a.icon-edit(href='#{project_collection_item_association_edit_path(json_string['project']['id'],json_string['collection']['id'],json_string['item']['id'])}' data-toggle='modal' data-target='#edit-assoc-modal')
                %a(href='#{project_collection_item_controlled_vocabulary_term_path(json_string['project']['id'],json_string['collection']['id'],json_string['item']['id'])}' data-toggle='modal' data-target='#assoc-modal')= json_string['item']['display']
          -else
            %td= i[s.name]
        %td
          %a{:href => i.file.to_s}= i.original_filename
        
        
:javascript
  function showDialog(url){
     $("#CV_info").html('<iframe id="modalIframeId" width="100%" height="100%" marginWidth="0" marginHeight="0" frameBorder="0" overflow="visible"/>').dialog("open");
     $("#modalIframeId").attr("src",url);
     return false;
  }

  $(document).ready(function() {
     $("#CV_info").dialog({
             autoOpen: false,
             modal: true,
             height: 500,
             width: 950
         });
  });
  
#CV_info