:javascript
  $(document).ready(function() {
    $('.data-table').dataTable();
  } );
-@schema_cv_hash={}
-collection.schema.each do |s|
  -link_hash={}
  -if s.controlled_vocabulary_id
  -@schema_cv_hash[s.id] =Yogo::Collection::Property.get(s.controlled_vocabulary_id).data_collection
    -s.data_collection.items.each do |i|
      -link_hash = link_hash.merge({i[s.name] => @schema_cv_hash[s.id].items.first("field_#{s.controlled_vocabulary_id.to_s.gsub('-','_')}".to_sym=>i[s.name])})
    -@schema_cv_hash[s.name]=link_hash
    
-# History Item Modal
#history-modal.modal.hide.fade.wide
  .modal-header
    %button.close(data-dismiss="modal") x
    %h3 Data History
    .modal-body
    .modal-footer

-# Item Modal
#item-edit-modal.modal.hide.fade
  .modal-header
    %button.close(data-dismiss="modal") x
    %h3 Edit Data Row
    .modal-body
    .modal-footer

-# CV Modal
#cv-modal.modal.hide.fade
  .modal-header
    %button.close(data-dismiss="modal") x
    %h3 CV Term Metadata
    .modal-body
    .modal-footer

-# Assoc Modal
#assoc-modal.modal.hide.fade
  .modal-header
    %button.close(data-dismiss="modal") x
    %h3 Associated Data
    .modal-body
    .modal-footer

-# Schema Edit Modal
#edit-schema-modal.modal.hide.fade.wide
  .modal-header
    %button.close(data-dismiss="modal") x
    %h3 Edit Column
    .modal-body
    .modal-footer

%table.data-table.table.table-condensed.table-striped
  %thead
    %tr
      %th.action-column
        %a.btn.btn-mini(href='#collection_schema_form' data-toggle='modal' title='Add Column') 
          %i.icon-plus
        %a.btn.btn-mini(href='#edit-filters' data-toggle='modal' title='Filter Data Grid') 
          %i.icon-filter
      - collection.schema.each do |s|
        %th.column
          %a.icon-edit(href='#{edit_project_collection_schema_path(@project,@collection,s)}' data-toggle='modal' data-target='#edit-schema-modal')
          = s.name
      %th File
  %tbody
    - items.each do |i|
      %tr
        %td
          %a.icon-time(href='#{project_collection_item_path(project,collection,i)}' data-toggle='modal' data-target='#history-modal')
          %a.icon-edit(href='#{edit_project_collection_item_path(project,collection,i)}' data-toggle='modal' data-target='#item-edit-modal')
          = link_to("", project_collection_item_path(project,collection,i), :class => 'icon-remove-circle',:method=>:delete, 
                    "data-confirm"=>"Are you sure you wish to delete this Data Row?")
        - collection.schema.each do |s|
          -if s.controlled_vocabulary_id  
            -if @schema_cv_hash[s.name][i[s.name]]
              %td
                %a(href='#{project_collection_item_controlled_vocabulary_term_path(@schema_cv_hash[s.id].project_id,@schema_cv_hash[s.id],@schema_cv_hash[s.name][i[s.name]])}' data-toggle='modal' data-target='#cv-modal')= i[s.name]
            -else
              %td{:class =>'cv_error'}= i[s.name]
          -elsif s.associated_schema     
            %td
              -json_string = JSON.parse(i[s.name])
              %a.icon-edit(href='#{edit_project_collection_item_path(json_string['project']['id'],json_string['collection']['id'],json_string['item']['id'])}' data-toggle='modal' data-target='#item-edit-modal')
              %a(href='#{project_collection_item_controlled_vocabulary_term_path(json_string['project']['id'],json_string['collection']['id'],json_string['item']['id'])}' data-toggle='modal' data-target='#assoc-modal')= json_string['item']['display']
          -else
            %td
              - if i[s.name].to_s.length > 42
                = i[s.name][0..42]
                %a.btn-info.btn-mini(href='#' data-placement='right' data-content="#{i[s.name].gsub('"', '\"')}" rel='popover' data-original-title='#{s.name}')
                  = '...'
              - else
                = i[s.name]
        %td
          %a{:href => i.file.to_s}= i.original_filename
