%h1 Edit #{@collection.name} Item

.block
  .content
    .inner
      %h3 Previous Versions
      = render :partial => 'version_table', :locals => {:items => @item.versions, :collection => @collection}
.block
  .secondary-navigation.button-navigation
    .wat-cf
      = nav_button("Back to Collection", "web-app-theme/icons/edit-undo.png", project_collection_path(@project, @collection))
  .content
    .inner
      %h3 Edit #{@item.id}
      = form_for("item", :url => project_collection_item_path(@project, @collection, @item), :html=>{:method=>"put"}) do |f| 
        -#= render :partial => 'edit_form', :locals => {:f => f, :collection => @collection, :item=>@item}
        .group.navform.wat-cf
          = f.submit("Save", :submit_image => image_tag("web-app-theme/icons/tick.png", :alt => "Save"), :cancel_link => link_to("Cancel", project_collection_path(@project, @collection), :class => "text_button_padding link_button"))

