%h1 #{@project.name} > #{@collection.name} > Data

.block
  .secondary-navigation.button-navigation
    .wat-cf
      = nav_button("Back to Project", "web-app-theme/icons/edit-undo.png", project_path(@project))
      = nav_button("Back to Collection", "web-app-theme/icons/edit-undo.png", project_collection_path(@project, @collection))
  .content
    .inner
      %h3 New #{@collection.name}
      = form_for("item", @item, :url => project_collection_items_path, :html => {"multipart" => true, "data-ajax"=> false, :class => 'form'}) do |f| 
        = render :partial => 'form', :locals => {:f => f, :collection => @collection}
        .group.navform.wat-cf
          = f.submit("Save", :submit_image => image_tag("web-app-theme/icons/tick.png", :alt => "Save"))

.block
  .content
    .inner
      %h3 All #{@collection.name.pluralize}
      = render :partial => 'table', :locals => {:items => @collection.items(:order => :created_at.desc), :collection => @collection}