%h2
  Project:#{link_to(@project.name, project_path(@project))} > Collection:#{link_to(@collection.name, project_collection_path(@project,@collection))} 
%br
%h3
  Item:#{@item.id}
%table.table
  %tr
    %th Attribute
    %th Value
  %tr{:class => cycle('odd','even')}
    %td Created At
    %td=@item.created_at
  %tr{:class => cycle('odd','even')}
    %td Updated At
    %td= @item.updated_at
  -@collection.schema.each do |field|
    %tr{:class => cycle('odd','even')}
      %td=field.name
      %td= @item[field.name]
  %tr{:class => cycle('odd','even')}
    %td File
    %td
      %a{:href => @item.file.to_s}= @item.original_filename
      
.block
  .content
    .inner
      %h3 Previous Versions
      = render :partial => 'version_table', :locals => {:items => @item.versions, :collection => @collection}