/ Le Javascript Ajax Modals
:javascript
  //Projects#new (New Project)
  #{ajax_modal_js("#header li.project-new a", new_project_path)}

- if @project
  :javascript
    //Projects#edit (Project Settings)
    #{ajax_modal_js("#header li.project-edit a", edit_project_path(@project))}
    //Collections#new (New Collection)
    #{ajax_modal_js("#header li.collection-new a", new_project_collection_path(@project))}

- if @collection
  :javascript
    //Collections#edt (Collection Settings)
    #{ajax_modal_js("#header li.collection-edit a", edit_project_collection_path(@project, @collection))}
    //Schemas#new (Add Column)
    #{ajax_modal_js("#header li.schema-new a", new_project_collection_schema_path(@project,@collection))}
    //Schemas#new (Add Column Table Link Button) (Add Column New Collection Prompt Button)
    #{ajax_modal_js("a.schema-new", new_project_collection_schema_path(@project,@collection))}
