%h1
  %a{:href => "/"} Yogo Sapphire
#user-navigation
  %ul.wat-cf
    -if @project && !@project.new?
      %li
        = image_tag("web-app-theme/icons/search.png", :height => '12px')
        %a{:href => "#{project_search_path(@project)}"}= t("web-app-theme.profile", :default => "Search")
    -if current_user
      / %li
      /   %a{:href => "#"}= t("web-app-theme.settings", :default => "Settings")
      %li
        %a{:href => edit_user_registration_path}= t("web-app-theme.profile", :default => "Profile")
      %li
        =link_to("Logout(#{current_user.first_name})", destroy_user_session_path, :method=> :delete)
#main-navigation
  %ul.wat-cf
    %li{:class => nav_helper[:my_project]}
      = link_to("My Projects", projects_path)
    %li{:class => nav_helper[:public_project] }
      = link_to("Public Projects", projects_path(:public => true))
    %li{:class => nav_helper[:controlled_vocabulary] }
      = link_to("Controlled Vocabularies", manage_controlled_vocabularies_projects_path())