#header.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to(image_tag('Yogo-50x40px-wh.png') + ' Sapphire', root_path, :class => 'brand')
      %ul.nav
        - if current_user
          %li.dropdown
            %a.dropdown-toggle(href='#' data-toggle='dropdown') 
              Project
              %b.caret
            %ul.dropdown-menu(role='menu')
              %li.dropdown-submenu
                %a(href="#" data-toggle='dropdown') Projects
                %ul.dropdown-menu
                  %li= link_to 'All Projects', root_path
                  %li.divider
                  - current_user.memberships.projects.each do |p|
                    - next if p.new?
                    %li= link_to p.name, project_path(p)
              %li.project-new= link_to('New Project', '#', 'data-toggle' => 'modal')
        - if @project
          %li.divider-vertical

        - if @project 
          %li.dropdown
            %a.dropdown-toggle(href='#' data-toggle='dropdown') 
              = @project.name
              %b.caret
            %ul.dropdown-menu(role='menu')
              %li= link_to @project.name, project_path(@project)
              %li.dropdown-submenu 
                %a(href='#' data-toggle='dropdown') Data Collections
                %ul.dropdown-menu
                  %li= link_to 'All Data Collections', project_path(@project)
                  %li.divider
                  - @project.collections.each do |c|
                    - next if c.new?
                    %li= link_to c.name, project_collection_path(@project, c)
              %li.divider
              -if @project && current_user.member_of?(@project)
                %li.project-edit= link_to('Project Settings', '#', 'data-toggle' => 'modal')
                %li= link_to('Project Members',     '#project_users',       'data-toggle' => 'modal')
                %li.collection-new= link_to('New Collection', '#', 'data-toggle' => 'modal')
                %li= link_to('Upload Project Data', '#upload_form',         'data-toggle' => 'modal')
                -#%li
                -#  -if @project && @project.private?
                -#    = link_to('Publish Project',   project_publish_path(@project), :method => 'post')
                -#  -else
                -#    = link_to('Unpublish Project', project_publish_path(@project), :method => 'post')
        - if @collection
          %li.divider-vertical 

          - if @collection && @collection.category != "Files"
            %li.dropdown
              %a.dropdown-toggle(href='#' data-toggle='dropdown') 
                = @collection.name
                %b.caret
              %ul.dropdown-menu(role='menu')
                %li= link_to @collection.name, project_collection_path(@project, @collection)
                %li.divider
                -if @project && current_user.member_of?(@project)
                  %li.collection-edit= link_to('Collection Settings','#','data-toggle' => 'modal')
                  %li.schema-new= link_to('Add Column', '#', 'data-toggle' => 'modal')
                  %li= link_to('Upload Collection Data', '#upload_form',            'data-toggle' => 'modal')
                  %li= link_to('Filter',                 '#edit-filters',           'data-toggle' => 'modal')
                  - if @filters && !@filters.empty?
                    %li=link_to('Clear Filter', project_collection_path(@project, @collection))
                  -if @collection && @collection.saved?
                    %li= link_to('Download Metadata', 
                            project_collection_export_path( @project, @collection, :filters => params[:filters]))
                    %li= link_to('Download All Data', 
                            project_collection_export_with_files_path( @project, @collection, :filters => params[:filters]))
      %ul.nav.pull-right
        - if @project && !@project.new?
          %li= link_to('Search', '#project_search_form', 'data-toggle' => 'modal')
        - if current_user
          %li= link_to 'Profile', edit_user_registration_path
          %li= link_to("Logout (#{current_user.first_name})", destroy_user_session_path, :method=> :delete)

