-# Project#new form
#new_project_form.modal.hide.fade
  .modal-header
    %button.close(data-dismiss="modal") x
    %h3 Create Project
  = form_for(Yogo::Project.new, :url => projects_path, :html => {:class => 'modal-form'}) do |f|
    .modal-body
      = render :partial => 'projects/form', :locals => {:f => f}
    .modal-footer
      %button.btn.btn-primary{:type => 'submit'} Save
      %a.btn.btn-mini(data-dismiss="modal") Close

- if @project
  -# Project#edit form
  #project_edit_form.modal.hide.fade
    .modal-header
      %button.close(data-dismiss="modal") x
      %h3 Project Settings
    = form_for(@project, :url => project_path(@project), :html => {:class => 'modal-form', :method=> :put}) do |f|
      .modal-body
        = render :partial => 'projects/form', :locals => {:f => f}
      .modal-footer
        %button.btn.btn-primary Save Changes
        %a.btn.btn-mini(data-dismiss="modal") Close

  -# Project#upload_data form
  #upload_form.modal.hide.fade
    .modal-header
      %button.close(data-dismiss="modal") x
      %h3 Upload Data
    = render :partial => 'projects/upload_form'
    
  -# Project#project_users form
  #project_users.modal.hide.fade
    .modal-header
      %button.close(data-dismiss="modal") x
      %h3 Project Users
    = render :partial => 'projects/project_users'

  -# Collection#new form
  #new_collection_form.modal.hide.fade
    .modal-header
      %button.close(data-dismiss="modal") x
      %h3 Add New Collection
    = form_for(@project.data_collections.new, :url => project_collections_path(@project), 
              :html => {:class => 'modal-form'}) do |f|
      .modal-body
        = render :partial => 'collections/form', :locals => {:f => f}
      .modal-footer
        %button.btn.btn-primary Save Changes
        %a.btn.btn-mini(data-dismiss="modal") Close

  -# Projects#search form
  #project_search_form.modal.hide.fade
    .modal-header
      %button.close(data-dismiss="modal") x
      %h3 Search Data in #{@project.name}
    = form_for(:search, :url => project_s_path(@project), :html => {:class => 'form', :method => :get}) do |f|
      .modal-body
        %label Search Terms
        = f.text_field(:terms, :class => 'span6')
      .modal-footer
        %button.btn.btn-primary Search
        %a.btn.btn-mini(data-dismiss="modal") Close

- if @collection

  -# Collection#edit form
  #collection_edit_form.modal.hide.fade
    .modal-header
      %button.close(data-dismiss="modal") x
      %h3 Collection Settings
    = form_for(@collection, :url => project_collection_path(@project, @collection), 
              :html => {:class => 'modal-form', :method=> :put}) do |f|
      .modal-body
        = render :partial => 'collections/form', :locals => {:f => f}
        %h4 Columns
        %table.table
          - @collection.schema.each do |s|
            %tr
              %td
                %a{:href => edit_project_collection_schema_path(@project,@collection,s)}
                  %i.icon-edit
                  = s.name
              %td
                = s.type.to_s.split('::').last
                -if s.associated_schema
                  | Associated With #{s.associated_schema.data_collection.name}>#{s.associated_schema.name}
              %td= link_to("delete", project_collection_schema_path(@project,@collection,s), 
                      :class => 'btn btn-warning btn-mini',:method=>:delete, 
                      "data-confirm"=>"Are you sure you wish to delete this Column?")
      .modal-footer
        %button.btn.btn-primary Save Changes
        %a.btn.btn-mini(data-dismiss="modal") Close

  #collection_schema_form.modal.hide.fade
    .modal-header
      %button.close(data-dismiss="modal") x
      %h3 Add New Column
    = form_for('schema', :url => project_collection_schemas_path(@project, @collection), 
              :html => {:class => 'modal-form'}) do |f|
      .modal-body
        = render :partial => 'schemas/form', :locals => {:f => f}
      .modal-footer
        %button.btn.btn-primary Save Column
        %a.btn.btn-mini(data-dismiss="modal") Close



