-# Standard width modal
#ajax-modal.modal.hide.fade
-# Full width modal
#ajax-modal-fw.container.modal.hide.fade
-# Project#new form
:javascript
  //Projects#new (New Project)
  #{ajax_modal_js("#header li.project-new a", new_project_path)}

- if @project
  -# Projects#search form
  #project_search_form.modal.hide.fade
    .modal-header
      %button.close(data-dismiss="modal") x
      %h3 Search Data in #{@project.name}
    = form_for(:search, :url => project_s_path(@project), :html => {:class => 'form', :method => :get}) do |f|
      .modal-body
        %label Search Terms
        = f.text_field(:terms, :class => 'span5')
      .modal-footer
        %button.btn.btn-primary Search
        %a.btn.btn-mini(data-dismiss="modal") Close

  -# Project#upload_data form
  #upload_form.modal.hide.fade
    .modal-header
      %button.close(data-dismiss="modal") x
      %h3 Upload Data
    = render :partial => 'projects/upload_form'
    
  -# Project#project_users form
  #project_users.modal.hide.fade
    .modal-header
      %button.close(data-dismiss="modal") x
      %h3 Project Users
    = render :partial => 'projects/project_users'

  :javascript
    //Projects#edit (Project Settings)
    #{ajax_modal_js("#header li.project-edit a", edit_project_path(@project))}
    //Collections#new (New Collection)
    #{ajax_modal_js("#header li.collection-new a", new_project_collection_path(@project))}

- if @collection
  -# Collection#edit form
  :javascript
    //Collections#edt (Collection Settings)
    #{ajax_modal_js("#header li.collection-edit a", edit_project_collection_path(@project, @collection))}
    //Schemas#new (Add Column)
    #{ajax_modal_js("#header li.schema-new a", new_project_collection_schema_path(@project,@collection))}
