!!! 5
%html
  %head
    %title Sapphire
    = stylesheet_link_tag("application")
    = stylesheet_link_tag('http://ajax.googleapis.com/ajax/libs/dojo/1.7/dijit/themes/claro/claro.css')
    = javascript_include_tag("application")
    = javascript_include_tag("http://ajax.googleapis.com/ajax/libs/dojo/1.7.1/dojo/dojo.js")

  %body
    :javascript
      dojo.require("dojo.parser");

    #flash
      - unless flash.empty?
        - flash.each do |k,v|
          %p{:class => k}= v
    = yield
