!!!
%html
  %head
    %title Yogo Sapphire
    = stylesheet_link_tag "bootstrap",
      "font-awesome",
      "datatable",
      "jquery-ui",
      "application",
      :cache => false
    = javascript_include_tag :defaults,
      "jquery-ui",
      'jquery-ui-timepicker-addon',
      "jquery-dataTables",
      :cache => false
    = csrf_meta_tag
  %body
    = render :partial => 'layouts/header'
    .row
      .span3
    .row
      .span6= yield
    .row
      .span3
    = render :partial => 'layouts/footer'