%label Name
- if @collection.controlled_vocabulary
  = f.select(:name, field_value_options(@collection.controlled_vocabulary))
- else
  = f.text_field(:name)

%label Type
- if @schema
  %input(type='text' placeholder='#{@schema.type.to_s.split('::').last}' disabled)
- else
  = f.select(:type, property_types_opts)

%label Position
= f.text_field(:position)

%label Controlled Vocabulary
= f.select(:controlled_vocabulary_id, controlled_vocabulary_opts.sort, :include_blank => true)

%label Association
= f.select(:associated_schema_id, association_opts.sort, :include_blank => true)
