%table.table.table-condensed.table-striped
  %thead
    %tr
      %th Restore
      %th Version Date
      %th Changelog
      %th Updated By
      %th Name
      %th Position
      %th Type
      %th Description
      %th Controlled Vocabulary ID
      %th Associated Schema ID
  %tbody
    - (schema.versions << schema).reverse.each do |v|
      %tr
        %td
          - if schema != v
            =link_to "<i class='icon-upload-alt'></i>".html_safe, project_collection_schema_restore_path(project,collection,schema, :deleted_at=>v.deleted_at), :method=>:put,:class=> 'btn btn-mini', "data-confirm"=>"Are you sure you wish to restore this Item?"
        %td= v.updated_at.strftime("%B %d, %Y %I:%M:%S %p")
        %td
          - if schema == v
            Current Version
          - else
            = v.updated_comment
        %td= v.updated_by
        %td= v.name
        %td= v.position
        %td= v.type
        %td= v.description
        %td= v.controlled_vocabulary_id
        %td= v.associated_schema_id 
