%h1 #{@project.name} > #{@collection.name} > Schema

.block
  .secondary-navigation.button-navigation
    .wat-cf
      = nav_button("Back to Collection", "web-app-theme/icons/edit-undo.png", project_collection_path(@project, @collection))
      = nav_button("New Column", "web-app-theme/icons/list-add.png", new_project_collection_schema_path(@project, @collection))
  .content
    .inner
      %h3 Columns
      %ul.list.schema-list
        - @collection.schema.each do |s|
          %li 
            .item
              %a{:href => edit_project_collection_schema_path(@project, @collection, s)} #{s.name} (#{s.type.to_s.split('::').last})
