%h1 #{@project.name} > #{@collection.name} > New Schema

%div{:class=>"form"}
  = form_for("schema", :url => project_collection_schemas_path(@project, @collection)) do |f|
    = render :partial => 'form', :locals => {:f => f}
  
    %p= f.submit("Create", :submit_image => image_tag("web-app-theme/icons/tick.png", :alt => "Save"), :cancel_link => link_to("Cancel", project_collection_schemas_path(@project, @collection), :class => "text_button_padding link_button"))