%h1 #{@project.name} > #{@collection.name} > #{@schema.name}

.block
  .secondary-navigation.button-navigation
    .wat-cf
      = nav_button("Back to Collection", "web-app-theme/icons/arrow_undo.png", project_collection_path(@project, @collection))
      = nav_button("Edit Schema", "web-app-theme/icons/application_table_edit.png", edit_project_collection_schema_path(@project, @collection, @schema))
  .content
    .inner
      %h3 Schema
      Type: #{@schema.type}
